[colors]

# special
foreground      = #d2d4df
foreground_bold = #d2d4df
cursor          = #d2d4df
background      = #08090f

# black
color0  = #0f1118
color8  = #6fc58a

# red
color1  = #181a24
color9  = #7895ee

# green
color2  = #282b3a
color10 = #7692e9

# yellow
color3  = #3e4358
color11 = #50a16b

# blue
color4  = #5b617d
color12 = #e94cd0

# magenta
color5  = #7e86a5
color13 = #6f8fed

# cyan
color6  = #adb1c5
color14 = #e48fd4

# white
color7  = #e1e2e9
color15 = #898253
