[colors]

# special
foreground      = #e2d2e4
foreground_bold = #e2d2e4
cursor          = #e2d2e4
background      = #0b050c

# black
color0  = #140b15
color8  = #cfaf69

# red
color1  = #211423
color9  = #efa9b3

# green
color2  = #362438
color10 = #88acd3

# yellow
color3  = #543957
color11 = #6abe54

# blue
color4  = #79547d
color12 = #89c3be

# magenta
color5  = #a675ac
color13 = #87d377

# cyan
color6  = #c7a7cc
color14 = #c3ab7b

# white
color7  = #eadfec
color15 = #cab07e
